body {
    background-color: var(--color-primary);
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12rem;
    background-color: var(--color-secundary);
    font-size: 1.9rem;
    padding: 0 2.5rem;
    border-radius: 0 0 1.2rem 1.2rem;
}

header span {
    padding: 2.4rem;
}

header nav ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 0.5rem;
}

header a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
}

header a:hover {
    background-color: white;
    color: #0e0e0e;
    border-radius: 8px;
}

header nav input {
    border: none;
    padding: 1.4rem 2.5rem;
}

header aside {
    border: 1px solid black;
    border-radius: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 5rem;
    position: absolute;
    top: 50;
    width: 75%;
    height: 50px;
    right: 10%;
}

header aside form img {
    width: 16px;
    height: 16px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
}

main .ideia {
    background: white;
    width: 75%;
    height: 300px;
    margin: 10px 0;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

main .ideia h1 {
    font-size: 2.4rem;
    margin-bottom: 1.2rem;
}

main .ideia a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 2rem;
    padding: 1.2rem 0;
    width: 50%;
    background-color: var(--color-secundary);
    border-radius: 1.5rem;
    position: absolute;
    left: 25%;
    bottom: 10%;
}

main .ideia a:hover {
    background-color: var(--button-hover);
}

footer {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--color-secundary);
    position: fixed;
    bottom: 0;
    border-radius: 8px 8px 0 0;
}

aside form {
    display: flex;
    align-items: center;
}

@media (min-width: 700px) {
    header {
        position: fixed;
        z-index: 9;
        padding: 0;
    }
    header nav {
        display: flex;
        align-items: center;
    }
    header aside {
        position: inherit;
        margin: 0;
        height: 50%;
        width: 250px;
        padding: 0.2rem 2.4rem;
    }
    header aside input {
        padding: 0;
    }
    header nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    header nav ul li {
        font-size: 1.4rem;
    }
    header a {
        white-space: nowrap;
    }
    main {
        padding: 10rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    main .ideia {
        position: relative;
        height: 350px;
        align-items: flex-start;
        padding: 2.5rem;
        justify-content: flex-start;
    }
}

@media (min-width: 825px) {
    header {
        padding: 0 10rem;
    }
}

@media (min-width: 1000px) {
    header aside {
        margin: 0 2.5rem;
    }
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}